@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
	}
	
	a:hover {
	  text-decoration: none;
	  color: #ddd;
	}
	
	.sectionLabel {
		background-color: #222;
	}
	
	.photo {
		opacity: 0.9;
	}
	
	.badge {
		opacity: 0.9;
	}
	
	#contactInfo {
		background: rgba(50, 50, 50, 1);
	}
	
	#martinssonPhotoIcon {
		filter: invert(100%);
	}
	
	#twitterLogo {
		filter: invert(100%);
	}
	
	#githubLogo {
		filter: invert(100%);
	}
	
	#tweetToBeatIcon {
		filter: invert(100%);
	}
	
	#tweetToBeatTitle {
		filter: invert(100%);
	}
	
	#showMoreButton {
		background: rgba(50, 50, 50, 0.6);
	}
	
	#martinssonPhotoTitle {
		text-shadow: -10px 10px 40px rgba(255, 255, 255, 0.3);
	}

	body,
	header .site-name {
		color: #ddd;
	}
}
