#contactContainer {
  padding: 0% 5%;
  margin-top: 8%;
  padding-bottom: 5vw;
  display: flex;
}

#contactSectionLabel {
	margin-top: 2vw;
  padding-right: 3.5vw;
}

#contactInfo {
  width: 60%;
  height: auto;
  background: rgba(207, 207, 207, 0.6);
  padding: 7%;
  font-size: 2vw;
  font-family: Metropolis;
  margin-right: 5px;
  border-color: lightgray;
  border-style: solid;
  border-width: 0.5px;
}

#portraitContainer {
  width: 50%;
  height: auto;
  float: right;
  border-color: lightgray;
  border-style: solid;
  border-width: 0.5px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../Photographs/contactPortrait.jpg');
  margin-left: 5px;
}

#iconContainer {
	margin-top: 20px;
	justify-content: left;
}

.grid-item-divider {
  display: block;
  position: relative;
  height: 4px;
  background-color: currentColor;
  width: 80px;
  margin: 5vw auto 10px;
  transform: scaleX(0.8);
}

.grid-item-divider-left {
  margin-left: -7px;
  right: initial;
}

#email {
  font-size: 2vw;
  margin: 10px 0px;
}

#twitterLogo {
	height: auto;
	width: 5vw;
	margin-right: 1vw;
	align-self: center;
}

#githubLogo {
	height: auto;
	width: 4.5vw;
	align-self: center;
	margin-right: 1.2vw;
}

#youtubeLogo {
	height: auto;
	width: 6.5vw;
	align-self: center;
}

@media screen and (max-width: 1023px) {
  #contactSectionLabel {
    margin-top: 0;
    padding-right: 5vw;
  }

  #message {
    margin-top: 20px;
  }

  #email {
    font-size: 19pt;
  }

  #contactInfo {
    font-size: 19pt;
  }
}

@media screen and (max-width: 800px) {
  #contactInfo {
    width: 50%;
    font-size: 18pt;
  }

  #email {
    font-size: 18pt;
  }

  #portraitContainer {
    width: 50%;
  }

  .fab {
    padding-left: 10px;
    padding-right: 0.5vw;
    padding-top: 10px;
  }
}

@media screen and (max-width: 414px) {
  #message {
    margin-top: 8px;
  }

  #contactInfo {
    font-size: 11pt;
  }

  #email {
    font-size: 11pt;
  }

  .fab {
    font-size: 10pt;
    padding-left: 5px;
    padding-right: 1vw;
    padding-top: 5px;
  }

  .grid-item-divider {
    height: 2px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
